In [3]:
import pandas as pd
nba = pd.read_csv('nba_2013.csv')
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [4]:
nba[distance_columns].head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,23,63,0,847,66,141,0.468,4,15,0.266667,...,0.660,72,144,216,28,23,26,30,122,171
1,20,81,20,1197,93,185,0.503,0,0,NaN,...,0.581,142,190,332,43,40,57,71,203,265
2,27,53,12,961,143,275,0.520,0,0,NaN,...,0.639,102,204,306,38,24,36,39,108,362
3,28,73,73,2552,464,1011,0.459,128,300,0.426667,...,0.815,32,230,262,248,35,3,146,136,1330
4,25,56,30,951,136,249,0.546,0,1,0.000000,...,0.836,94,183,277,40,23,46,63,187,328

In [6]:

selected_player = nba[nba["player"] == "LeBron James"].iloc[0]
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']

def euclidean(row):
    temp = (row[distance_columns] - selected_player[distance_columns]) ** 2
    temp = temp.sum()
    return temp ** (1/2)

lenron_distance = nba.apply(euclidean, axis=1)

In [9]:
lenron_distance.sort_values()

225       0.000000
17      485.856006
123     543.179606
179     568.833040
162     607.684190
332     645.576517
185     674.207716
277     679.710997
110     709.937352
136     711.192700
451     716.243023
272     782.023066
133     787.613501
128     891.808844
160     913.811828
478     949.668916
218     959.465515
6       960.443178
229     986.609376
101    1005.517368
365    1023.849173
177    1027.760224
402    1035.431376
423    1055.479535
278    1086.244015
428    1092.834411
307    1096.809483
450    1098.010069
197    1108.027566
416    1150.505137
          ...
224    4221.985029
263    4224.408624
228    4224.419271
422    4225.475256
424    4227.933596
102    4228.286772
404    4229.570938
46     4230.061917
166    4235.463168
339    4240.361487
137    4241.906297
468    4244.598450
356    4247.790863
407    4248.054514
90     4250.568197
53     4250.785747
240    4253.218991
447    4254.741136
109    4255.623202
134    4256.309577
388    4257.415564
456    4258.518525
190    4259.610203
460    4260.053882
210    4260.263523
461    4261.181066
219    4263.320329
351    4264.625499
271    4265.251515
397    4266.570168
Length: 481, dtype: float64

In [10]:
nba.iloc[17]

player          Carmelo Anthony
pos                          PF
age                          29
bref_team_id                NYK
g                            77
gs                           77
mp                         2982
fg                          743
fga                        1643
fg.                       0.452
x3p                         167
x3pa                        415
x3p.                    0.40241
x2p                         576
x2pa                       1228
x2p.                   0.469055
efg.                      0.503
ft                          459
fta                         541
ft.                       0.848
orb                         145
drb                         477
trb                         622
ast                         242
stl                          95
blk                          51
tov                         198
pf                          224
pts                        2112
season                2013-2014
season_end                 2013
Name: 17, dtype: object

In [20]:
from scipy.spatial import distance

# Fill in the NA values in nba_normalized
nba_normalized.fillna(0, inplace=True)

# Find the normalized vector for Lebron James
lebron_normalized = nba_normalized[nba["player"] == "LeBron James"]

# Find the distance between Lebron James and everyone else.
euclidean_distances = nba_normalized.apply(lambda row: distance.euclidean(row, lebron_normalized), axis=1)

most_similar_to_lebron_index = euclidean_distances.sort_values().index[1]
nba.iloc[most_similar_to_lebron_index]

player          Carmelo Anthony
pos                          PF
age                          29
bref_team_id                NYK
g                            77
gs                           77
mp                         2982
fg                          743
fga                        1643
fg.                       0.452
x3p                         167
x3pa                        415
x3p.                    0.40241
x2p                         576
x2pa                       1228
x2p.                   0.469055
efg.                      0.503
ft                          459
fta                         541
ft.                       0.848
orb                         145
drb                         477
trb                         622
ast                         242
stl                          95
blk                          51
tov                         198
pf                          224
pts                        2112
season                2013-2014
season_end                 2013
Name: 17, dtype: object

In [37]:
import random
import math
from numpy.random import permutation

# Randomly shuffle the index of nba
random_indices = permutation(nba.index)
# Set a cutoff for how many items we want in the test set (in this case 1/3 of the items)
test_cutoff = math.floor(len(nba)/3)
# Generate the test set by taking the first 1/3 of the randomly shuffled indices
test = nba.loc[random_indices[1:test_cutoff]]
# Generate the train set with the rest of the data
train = nba.loc[random_indices[test_cutoff:]]

In [38]:
# The columns that we'll be using to make predictions
x_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']
# The column we want to predict
y_column = ["pts"]
train = train.dropna(subset=x_columns)
from sklearn.neighbors import KNeighborsRegressor
# Create the kNN model
knn = KNeighborsRegressor(n_neighbors=5)
# Fit the model on the training data
knn.fit(train[x_columns], train[y_column])
# Make predictions on the test set using the fit model
predictions = knn.predict(test[x_columns])
predictions[0:5]

array([[ 1061.2],
       [  547.2],
       [ 1092.6],
       [  627.4],
       [ 2021.4]])

pts    4815.341384
dtype: float64

In [43]:
actual = test[y_column]

mse = ((actual - predictions) ** 2).sum() / len(actual)

mse

pts    4815.341384
dtype: float64

In [45]:
predictions

array([[  1.06120000e+03],
       [  5.47200000e+02],
       [  1.09260000e+03],
       [  6.27400000e+02],
       [  2.02140000e+03],
       [  4.68200000e+02],
       [  1.01260000e+03],
       [  8.65000000e+02],
       [  1.74540000e+03],
       [  1.17900000e+03],
       [  1.14000000e+02],
       [  3.19200000e+02],
       [  8.80000000e+02],
       [  6.20000000e+00],
       [  7.74600000e+02],
       [  6.42200000e+02],
       [  3.93400000e+02],
       [  1.09240000e+03],
       [  3.78000000e+01],
       [  9.14000000e+01],
       [  1.44200000e+02],
       [  6.86600000e+02],
       [  2.96000000e+02],
       [  5.00200000e+02],
       [  2.00000000e+01],
       [  6.57400000e+02],
       [  3.94800000e+02],
       [  8.00000000e-01],
       [  3.71400000e+02],
       [  9.74000000e+01],
       [  9.70600000e+02],
       [  1.32780000e+03],
       [  2.00000000e+01],
       [  6.47400000e+02],
       [  8.86000000e+01],
       [  7.87200000e+02],
       [  2.66200000e+02],
       [  1.14000000e+02],
       [  9.93600000e+02],
       [  4.44400000e+02],
       [  4.53800000e+02],
       [  5.14200000e+02],
       [  8.06000000e+01],
       [  8.99600000e+02],
       [  2.00000000e-01],
       [  4.76800000e+02],
       [  6.00000000e-01],
       [  2.52200000e+02],
       [  3.04400000e+02],
       [  8.88000000e+01],
       [  8.80000000e+00],
       [  4.43200000e+02],
       [  1.40000000e+03],
       [  6.05400000e+02],
       [  3.29800000e+02],
       [  3.89200000e+02],
       [  4.84400000e+02],
       [  3.33600000e+02],
       [  1.08420000e+03],
       [  1.83200000e+02],
       [  5.47200000e+02],
       [  1.56000000e+01],
       [  2.99400000e+02],
       [  3.78000000e+01],
       [  7.32000000e+01],
       [  3.47200000e+02],
       [  9.30200000e+02],
       [  1.29180000e+03],
       [  2.66200000e+02],
       [  5.28000000e+01],
       [  1.82000000e+02],
       [  4.44000000e+01],
       [  6.78000000e+02],
       [  1.34740000e+03],
       [  1.29600000e+02],
       [  1.50220000e+03],
       [  1.29680000e+03],
       [  6.00000000e-01],
       [  8.67800000e+02],
       [  2.13600000e+02],
       [  5.20000000e+00],
       [  2.84000000e+02],
       [  2.40400000e+02],
       [  7.81200000e+02],
       [  1.05840000e+03],
       [  1.27620000e+03],
       [  3.56200000e+02],
       [  9.23800000e+02],
       [  3.90800000e+02],
       [  1.11420000e+03],
       [  2.36000000e+01],
       [  2.44000000e+01],
       [  1.00380000e+03],
       [  8.67800000e+02],
       [  8.17000000e+02],
       [  8.24000000e+01],
       [  5.93400000e+02],
       [  1.10380000e+03],
       [  9.68000000e+01],
       [  1.56200000e+02],
       [  1.12240000e+03],
       [  1.52660000e+03],
       [  5.34000000e+01],
       [  1.17460000e+03],
       [  1.22260000e+03],
       [  1.14380000e+03],
       [  5.60400000e+02],
       [  8.18000000e+02],
       [  4.65400000e+02],
       [  1.43600000e+02],
       [  2.22000000e+01],
       [  1.50000000e+01],
       [  6.45200000e+02],
       [  1.28000000e+01],
       [  4.58600000e+02],
       [  3.47200000e+02],
       [  4.37400000e+02],
       [  7.15200000e+02],
       [  1.05500000e+03],
       [  9.24000000e+01],
       [  7.66000000e+01],
       [  2.72000000e+01],
       [  3.24000000e+01],
       [  1.28000000e+01],
       [  3.36400000e+02],
       [  6.48800000e+02],
       [  1.37380000e+03],
       [  3.23800000e+02],
       [  6.38600000e+02],
       [  6.38600000e+02],
       [  3.48400000e+02],
       [  8.64000000e+01],
       [  3.35400000e+02],
       [  4.43200000e+02],
       [  1.78440000e+03],
       [  2.28000000e+01],
       [  1.40180000e+03],
       [  7.09400000e+02],
       [  7.61400000e+02],
       [  7.56000000e+01],
       [  2.22600000e+02],
       [  2.64000000e+01],
       [  2.08000000e+02],
       [  1.09260000e+03],
       [  1.88400000e+02],
       [  6.10200000e+02],
       [  3.19400000e+02],
       [  8.60000000e+00],
       [  1.09140000e+03],
       [  1.83400000e+02],
       [  1.16800000e+02],
       [  1.00920000e+03],
       [  1.95200000e+02],
       [  1.21720000e+03],
       [  5.68200000e+02],
       [  3.18000000e+01],
       [  1.79400000e+02],
       [  7.58000000e+01],
       [  8.38000000e+01]])